<!-- Loop over each object in the products array -->

<div class='row mb-4 product'>
  <div class='col-md-5'>
    <div id='homepage-reviews'>
      {{#each reviews as |product|}}
        <div class='homepage-reviews-content'>

          <img
            class='homepage-review-image'
            src='../assets/AYU_002.jpeg'
            alt='Footer Logo'
            width='250'
            height='250'
          />
          <div class='homepage-review-text'>
            <h2>
              <a href='/product/{{product.id}}'>{{product.brand}}</a>
            </h2>
            <p>{{product.type}}</p>
            <p>{{description}}</p>
            <p class='w3-margin-bottom'>Created by
              {{product.user.fname}}
              on
              {{format_date product.date_created}}</p>
            <a class='reviews-button w3-margin-top' href='#review1'><button
                class='homepage-review-button'
              >See Review</button></a>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</div>