<div class="text-center allPosts">
  <h2 id="brand">{{brand}}</h2>
  <p id="type">{{type}}</p>
  <p id="price">{{price}}</p>
  <p id="description">{{description}}</p>
  <p id="user_create">Created by {{user.fname}} on {{format_date date_created}}</p>
</div>