<div class='row mb-4 product'>
  <div class='col-md-5'>
    <div id='homepage-reviews'>
      {{#each reviews as |product|}}
      <div class='homepage-reviews-content'>

        <img class='homepage-review-image' src='../assets/AYU_002.jpeg' alt='Footer Logo' width='250' height='250' />
        <div class='homepage-review-text'>
          <h2>
            <a href='/product/{{product.id}}'>{{product.brand}}</a>
          </h2>
          <p>{{product.type}}</p>
          <p>{{description}}</p>
          <p class='w3-margin-bottom'>Created by
            {{product.user.fname}}
            on
            {{format_date product.date_created}}</p>
          <a class='reviews-button w3-margin-top'><button class='reviewPage-button'>See
              Review</button></a>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Comment</h5>
        <div class="form-group">
          <label for="post-content">Content:</label>
          <textarea class="form-input" id="edit-post-comment" name="post-content">{{post.content}}</textarea>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary saveComment" data-id="{{post.id}}">Save changes</button>
      </div>
    </div>
  </div>
</div>