{{#each reviews as |review| }}
<div class="text-center allPosts">
  <h2 id="brand">{{review.brand}}</h2>
  <p id="type">Product Type: {{review.type}}</p>
  <p id="price">Price: {{review.price}}</p>
  <p id="description"> Description: {{review.description}}</p>
  <p id="link">Find it on: {{review.link}}</p>
</div>
{{/each}}